page-login {
  ion-content {
    div.logo {
      visibility: hidden;
      text-align: center;
    }
    button.register {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: x-large;
      border: 0;
      background-color: transparent;
      color: color($colors, bleufonce);
      width: 200px;
      height: 45px;
    }
    form {
      width: 40%;
      margin: auto;
      font-size: x-large;
      div {
        // background-color: rgba(44, 62, 80, 0.6);
        padding: 5px 5px 0 5px;
        border-top: 1px solid color($colors, bleuclaire);
        border-left: 1px solid color($colors, bleuclaire);
        margin-bottom: 20px;
        color: color($colors, bleufonce);
        label {
          text-transform: uppercase;
        }
        input {
          background-color: transparent;
          width: 100%;
          height: 50px;
          border: none;
          text-align: right;
        }
      }
      button {
        font-size: x-large;
        border-top: 1px solid color($colors, bleuclaire);
        border-left: 1px solid color($colors, bleuclaire);
        background-color: color($colors, bleuclaire);
        color: color($colors, pale);
        width: 100%;
        height: 45px;
      }
    }
    // ion-list.list {
    //   padding-left: 200px;
    //   padding-right: 200px;
    //
    //   .reverse {
    //     background-color: transparent;
    //     color: $orange;
    //   }
    // }
  }
}
