register-page {
  .content {
    background-color: color($colors, bleufonce);
  }
  form {
    padding: 20px;
    .field {
      width: 100%;
      height: 60px;
      font-size: x-large;
      margin-bottom: 20px;
      background-color: white;
      display: flex;
      i {
        margin: auto;
        width: 60px;
        text-align: center;
        color: color($colors, bleufonce);
      }
      input {
        width: calc(100% - 45px);
        padding-left: 10px;
        height: 100%;
      }
    }
    .splited {
      display: flex;
      >.field {
        &:first-child {
          margin-right: 5px; 
        }
        &:last-child {
          margin-left: 5px; 
        }
      }
    }
  }
}
