<ion-header>

  <ion-navbar>
    <ion-title>S'enregistrer</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="register_form" novalidate (ngSubmit)="register(register_form.value, register_form.valid)">

    <div class="field">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <input type="text" placeholder="Adresse E-Mail" formControlName="email">
    </div>

    <div class="splited">
      <div class="field">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <input type="text" placeholder="Nom de Famille" formControlName="lastname">
      </div>

      <div class="field">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <input type="text" placeholder="Prénom" formControlName="firstname">
      </div>
    </div>

    <div class="field">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <input type="password" placeholder="Mot de passe" formControlName="password">
    </div>

    <div class="field">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <input type="password" placeholder="Confirmer" formControlName="confirm_pwd">
    </div>

    <div class="field">
    <!--<ion-list>-->
      <!--<ion-item>-->
        <ion-select formControlName="club_id">
          <ion-option *ngFor="let club of clubs" value="{{club._id}}">{{club.name}}</ion-option>
        </ion-select>
      <!--</ion-item>-->
    <!--</ion-list>-->
    </div>
    <!--
      <ion-item>
        <ion-label>Equipe*</ion-label>
        <ion-select formControlName="club_id">
          <ion-option *ngFor="let club of clubs" value="{{club._id}}">{{club.name}}</ion-option>
        </ion-select>
      </ion-item>
      <button type="submit" [disabled]="!register_form.valid" ion-button full color="tango">Créer mon compte</button>
    </ion-list>
  -->
  </form>
</ion-content>
