<ion-header>

  <ion-navbar>
    <ion-title>Ajouter une équipe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding scroll="false">
  <form [formGroup]="teamForm" novalidate (ngSubmit)="save_team( teamForm.value )">
    <ion-list>

      <ion-item>
        <ion-label stacked>Nom de votre équipe</ion-label>
        <ion-input type="text" placeholder="Cadets 1" formControlName=name></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Nom du coach</ion-label>
        <ion-input type="text" placeholder="Steve Kerr" formControlName=coach></ion-input>
      </ion-item>

      <button type="submit" [disabled]="!teamForm.valid" ion-button full color="tango">{{fields.bSaveTeam}}</button>
    </ion-list>
  </form>
  <ion-grid *ngIf="team.players">
    <h1>{{team.players.length}} joueurs dans l'équipe
      <button [hidden]="!selected_player" ion-button icon-only outline color="white" (tap)="select_player( null )">
        <ion-icon name="add"></ion-icon>
      </button>
    </h1>
    <ion-row>
      <ion-col width-50>
        <ion-list>
          <ion-item *ngFor="let player of team.players" (tap)="select_player( player );">
            #{{player.number}} - {{player.lastname}} {{player.firstname}}
            <button [disabled]="!selected_player" ion-button icon-only outline color="tango">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col width-50>
        <form [formGroup]="playerForm" novalidate (ngSubmit)="save_player( playerForm.value )">
          <ion-list>
            <ion-item>
              <ion-label stacked>Nom du joueur</ion-label>
              <ion-input formControlName=lastname type="text" placeholder="Curry"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>Prénom du coach</ion-label>
              <ion-input formControlName=firstname type="text" placeholder="Stephen"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>Numéro du joueur</ion-label>
              <ion-input formControlName=number type="number" placeholder="30"></ion-input>
            </ion-item>
            <button type="submit" [disabled]="!playerForm.valid" ion-button full color="tango">{{fields.bSavePlayer}}</button>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
