page-dashboard {
  .header {
    color: white;
  }

  button {
    ion-icon {
      color: white;
    }
  }
  ion-card-content {
    button {
      float: right;
      ion-icon {
        color: #bd5a22;
      }
    }
  }

  .selected {
    border: 5px solid #bd5a22;
  }
}
