<ion-header>
  <ion-navbar>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-50>

        <div class="header">
          <h1>Vos équipes
            <button ion-button icon-only outline color="white" (tap)="goto_teamPage( null )">
              <ion-icon name="add"></ion-icon>
            </button>
          </h1>
        </div> <!-- header -->

        <ion-card *ngFor="let team of teams" (tap)="select_team(team)" [class.selected]="team === selected_team">
          <ion-card-header>
            {{team.name}} - {{team.coach}}
          </ion-card-header>
          <ion-card-content>
            <button ion-button icon-only clear [hidden]="team !== selected_team" (tap)="goto_teamPage(team._id)">
              <ion-icon name="eye"></ion-icon>
            </button>
            <button ion-button icon-only clear [hidden]="team !== selected_team" (tap)="delete_team(team._id)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col width-50>
        <div class="header">
          <h1>Vos matchs
            <button ion-button icon-only outline color="white" (tap)="goto_gamePage( null )">
              <ion-icon name="add"></ion-icon>
            </button>
          </h1>
        </div> <!-- header -->

        <ion-card *ngFor="let game of games" (tap)="select_game(game)" [class.selected]="game === selected_game">
          <ion-card-header>
            {{game.opponent}}
          </ion-card-header>
          <ion-card-content>
            <button [hidden]="game !== selected_game" ion-button icon-only clear (tap)="goto_gamePage(game._id)">
              <ion-icon name="eye"></ion-icon>
            </button>
            <button [hidden]="game !== selected_game" ion-button icon-only clear (tap)="delete_game(game._id)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <button [hidden]="game !== selected_game" ion-button icon-only clear (tap)="goto_stat(game._id)">
              <ion-icon name="basketball"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
